<!DOCTYPE html>
<html>
<head>
<style>
div {
  /* text-align: justify; */
  text-justify: inter-word;
  transition-delay: 3ms;
}
</style>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <a routerLink="/about" ><img src="https://image.shutterstock.com/image-vector/gs-letter-logo-design-template-260nw-1080664925.jpg" alt="HTML tutorial" style="width:80px;height:80px;border-radius:100%"></a> 
             <h1 style="font-size: 30px;">About GiftStore </h1>
            <h1 style="text-align: left; padding-bottom: 30px;bottom: padding: 30px;;">Giftstore is an online platform which makes easy for customers to buy readily available gifts of their own choice. <br>
                We have been serving our client for almost a decade and we provide them quality product in budget friendy price. <br>
                As a group we always believe to give best to our customers.
            </h1>
            
             <button   routerLink="/register" class="button">Register</button>

            <button   routerLink="/Placeorder" class="button">Place Order</button>
            
          </div>
           
      
        </div>
        
      </div>
      


</body>
</html>